<div class="card-container">
  <div class="card">
    <p class="card-heading">Hello</p>
    <div class="card-content">
      <p class="card-content__title">Welcome to Razer Cars!</p>
      <p class="card-content__text">Your one stop shop for all your car stats needs!</p>
      {{#link-to "manufacturers" class="card-content__button" }}See All Manufacturers{{/link-to}}
    </div>
  </div>
</div>
