<div class="content-container">
  <div class="content">
    <p class="content-heading">Add New Manufacturer</p>
    <div class="form-content">
      <form action="" class="form">
        <p>
          <input type="text" class="form-input" placeholder="Company Name">
        </p>
        <p>
          <input type="text" class="form-input" placeholder="ISO Country Code">
        </p>

        <div class="buttons">
          {{#link-to "manufacturers" class="card-content__back-button" }}Back{{/link-to}}
          <button type="button" name="button" class="card-content__button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
