<div class="top-nav">
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        <p class="headline">Razer Cars</p>
      </div>

      <div class="navbar-right">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#">Home</a>
          </li>
          <li class="nav-list__item">
            <a href="#">All Manufacturers</a>
          </li>
          <li class="nav-list__item">
            <a href="#">Add Manufacturer</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

{{outlet}}
