<div class="content-container">
  <div class="content">
    <p class="content-heading">Hello</p>
    <table class="content-table">
      <thead class="table-titles">
        <tr>
          <th class="table-titles__title">Manufacturer</th>
          <th class="table-titles__title">Country</th>
          <th class="table-titles__title">Number of Models</th>
          <th class="table-titles__title"></th>
        </tr>
      </thead>
      <tbody>
          {{#each model as |model|}}
          <tr class="table-items">
            <td class="table-item__title">{{model.name}}</td>
            <td class="table-item__title">{{model.country}}</td>
            <td class="table-item__title">{{model.length}}</td>
            <td class="table-item__title">Read More</td>
          </tr>
          {{/each}}</tbody>
    </table>
  </div>
</div>
