<div class="card-container">
  <div class="card">
    <p class="card-heading">Hello</p>
    <table class="card-content">
      <div class="table-titles">
        <p class="table-titles__title">Manufacturer</p>
        <p class="table-titles__title">Country</p>
        <p class="table-titles__title">Number of Models</p>
        <p class="table-titles__title"></p>
      </div>
              {{#each model as |model|}}
              <div class="table-items">
                <p class="table-item__title">{{model.name}}</p>
                <p class="table-item__title">{{model.country}}</p>
                <p class="table-item__title">{{model.length}}</p>
                <p class="table-item__title">Read More</p>
              </div>
        {{/each}}
    </table>
  </div>
</div>
